<div class="forgot_password">
	

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, id: "forgot_password" }) do |f| %>
	  	
	  	
	  	<div class="form_title">

		    <%= image_tag("cwa3122.webp", height: '40', width: '40') %>
		    <span>Resend confirmation instructions</span>
  		</div>

	  	<label class="edit_label forgot_password_email_label" for="forgot_password_email">email</label> 
	    
	    
	  	
	  	<%= f.email_field :email, autofocus: true, autocomplete: "email", label: false, id: "forgot_password_email",value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %><br/>


	  	<% if resource.errors[:email].any? %>
      		<span class="forgot_password_email_error"><%= resource.errors[:email][0] %> </span>
    	<% end %>
	 

	  	
	    <%= f.submit "Resend confirmation instructions", id: "forgot_password_button", class: "btn"%>

	    <div class="links">
      		<%=render "devise/shared/links" %>
    	</div>
	  
	<% end %>

	
</div>



