

<div class="devise_headline">
  
  
    <h1>Join cwaLive</h1>
 

  
</div>


<div class="devise_login">


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <% f.error_notification %>

    <div class="devise_upper">

      <% if params[:user].present? %>

        <%= f.input :uid, required: true, autofocus: true, :input_html => { :value => params[:user][:uid] } %>

        <%= f.input :first_name, required: true, :input_html => { :value => params[:user][:first_name] } %>

        <%= f.input :last_name, required: true, :input_html => { :value => params[:user][:last_name] } %>

        <%= f.input :email, required: true, :input_html => { :value => params[:user][:email] }  %>

        <%= f.input :password, required: true %>

        <%= f.input :password_confirmation, required: true %>






      <% else %>
        
        <%= f.input :uid, required: true, autofocus: true  %>

        <%= f.input :first_name, required: true  %>
        <%= f.input :last_name, required: true  %>


        <% if(params[:e] != "" ) %>  
          <%= f.input :email, required: true, :input_html => { :value => params[:e] }  %>
          <%= f.input :password, required: true %> 
        <% else %>
          <%= f.input :email, required: true %>
          <%= f.input :password, required: true %>
        <% end %>
          

        <%= f.input :password_confirmation, required: true %>
      </div>

    <% end %>
    
  




    <div class="avatar_wrapper_current">



      <div class="upload-preview">
        


        <% if user_signed_in? && current_user.avatar.attached? && current_user.avatar.variable?%>
          

          

          <%= image_tag current_user.avatar.variant(resize_to_limit: [100, 100]) %>
          

        <%else%>


            

       
            
          <%= image_tag("man100px.png", height: '150', width: '150') %>
        <% end %>

      </div>

    </div>
      <div class="upload_button">
       
        
        <%= f.file_field :avatar, class: "file", id: "fileSwitch" %>
        <label class="chg_avatar", for="fileSwitch">change avatar??</label>


      </div>  

      <div class="devise_signup">
      <%= f.button :submit, "Sign up" %>
    </div>  

   </div>




    


  <% end %>




  <br/>

</div>


  <% render "devise/shared/links" %>





