<div class="devise_headline">

  <%= image_tag("cwa3122.webp", height: '40', width: '40') %>
  <span class="header_for_devise"> Join cwaLive</span>

</div>


<div class="devise_login">


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>



    <!-- <div class="devise_upper"> -->
    <label class="edit_label uid_label" for="user_uid">uid</label> 
    <%= f.input_field :uid, required: true, autofocus: true %>
    <% if resource.errors[:uid].any? %>
    <span class="uid_error"><%= resource.errors[:uid][0] %> </span>
    <% end %>

    
    <label class="edit_label first_name_label" for="user_first_name">first name</label> 
    <%= f.input_field :first_name, required: true %>
    <% if resource.errors[:first_name].any? %>
    <span class="first_name_error"><%= resource.errors[:first_name][0] %> </span>
    <% end %>
    
    
    <label class="edit_label last_name_label" for="user_last_name">last name</label> 
    <%= f.input_field :last_name, required: true %>
    <% if resource.errors[:last_name].any? %>
    <span class="last_name_error"><%= resource.errors[:last_name][0] %> </span>
    <% end %>


    <label class="edit_label email_label" for="user_email">email</label> 
    <%= f.email_field :email, autocomplete: "email" %>
    <% if resource.errors[:email].any? %>
    <span class="email_error"><%= resource.errors[:email][0] %> </span>
    <% end %>
   

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div><br/>
    <% end %>

   
    
    <label class="edit_label change_label" for="user_change_password">create password</label> 
    <%= f.password_field :password, autocomplete: "new-password", label: false %>
    <% if resource.errors[:password].any? %>
    <span class="change_error"><%= resource.errors[:password][0] %> </span>
    <% end %>
    
    
    <label class="edit_label confirm_label" for="user_confirm_new_password">confirm password</label> 
    <%= f.password_field :password_confirmation, autocomplete: "new-password", label: false %>
    <% if resource.errors[:password_confirmation].any? %>
    <span class="confirm_error"><%= resource.errors[:password_confirmation][0] %> </span>
    <% end %>


    <!--</div>-->

      















    <label class="button_to_change_avatar avatar_label" for="fileSwitch">choose file</label>


      <div class="upload-preview avatar">
        


        <% if user_signed_in? && current_user.avatar.attached? && current_user.avatar.variable?%>
          

          

          <%= image_tag current_user.avatar.variant(resize_to_limit: [100, 100]) %>
          

        <%else%>


            

       
            
          <%= image_tag("man100px.png", height: '150', width: '150') %>
        <% end %>

      </div>
      <% if resource.errors[:avatar].any? %>
        <span class="avatar_error"><%= resource.errors[:avatar][0] %> </span>
      <% end %>
    


     
       
        
        <%= f.file_field :avatar, class: "file", id: "fileSwitch" %>
        


      

      
        <%= f.button :submit, "Create Account", id: "edit_button" %>
       

  
 
        <% resource.errors.each do |x| %>

          <span> <% x %> </span>
        <% end%>




    


  

   
    

  <% end %>
  <%= render "devise/shared/links" %>
</div>


  





