<div id="logo"><%= image_tag("cwa3122.webp", height: '40', width: '40') %></div>





<nav>
  <ul>

    <% if user_signed_in? %>
          
      <li>
        
        <%= link_to( 'Logout',destroy_user_session_path, :method => :delete) %><label class="uid"> <%= '('+current_user.uid+')'%></label><%= link_to(' | Edit ', edit_user_registration_path) %> 
        
        <% if current_user.admin? %>

          <%= link_to "| Admin", admins_path %>  


        <%end%>

        
      </li>
        
    <% else %>
          
      <li>
        <%= link_to('Login |', new_user_session_path)  %> 
        <%= link_to('Register', new_user_registration_path)  %> 
      </li>
        
      <% end %>
    

  </ul>

</nav>


<div id="avatar">
  <% if user_signed_in? && current_user.avatar.attached? && current_user.avatar.variable? %>

    

                
    <%= image_tag current_user.avatar.variant(resize_to_limit: [32, 32]) %>
                

  <% elsif user_signed_in? && current_user.avatar.attached? && current_user.avatar.previewable? %>

    

    <%= image_tag current_user.avatar.preview(resize_to_limit: [32, 32]) %>

  <% else %>

    <% image_tag("/assets/man100px.png") %>


  <% end %>

</div>


  


  



   



