
<section id="video_section">
	
	<div class="bar">

		<% if @showDeleteSessionInsteadOfStartPublishing == "true" && user_signed_in? && @isAdmin == "true"%>

				<%= link_to delete_all_sessionsV2_path do %>
					<div id="deleteSession" class="btnV2"> Delete Session</div>
				<% end %><span class="toggle_chat btnV2">toggle chat</span>

			<% elsif @showDeleteSessionInsteadOfStartPublishing == "false"  && user_signed_in? && @isAdmin == "true"%><div id="publisherStart" class="btnV2">Start Publishing</div><span class="toggle_chat btnV2">toggle chat</span>
			
			<% elsif user_signed_in? %>


				
				<div id="try2Connect" class="btnV2">Connect</div>
				
				<span class="toggle_chat btnV2">toggle chat</span>
			
			<%end%>




	</div>
	
	<div id="videos">
        <div id="subscriber"></div>
        
    </div>

    <div id="overlay">

    	

	<div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">ffff</div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">dfgdfg</div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">dfgdfgdfg</div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay"></div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">dfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfg</div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">sdfgsdfgsdfgsdfgsdfgsdfgsdfg   sdfgsdfgsdfg sdfgsdfg   sdfgsdfgsfg fgsdfgsdf dfgsdfsdfgdsfgsdfsdfgs </div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">dfgsdfsdfdfbsfgb</div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">sdfgsdfgsdfgsgsg</div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">ffffff</div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">dfgdfgdf</div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">dfdfggg</div><div class="chat_img_overlay"><img src=""></div><div class="chat_name_overlay">Alejandro Raffo</div><div class="chat_msg_overlay">fdfgdfgdfgdfgdgd</div>

	</div>


    <div id="talk">

    	<div class="my_avatar_overlay chat_img">

			<% if user_signed_in? && current_user.avatar.attached? && current_user.avatar.variable? %>
				
				<%= image_tag current_user.avatar.variant(resize_to_limit: [32, 32]) %>
	        

			<% elsif user_signed_in? && current_user.avatar.attached? && current_user.avatar.previewable? %>


				<%= image_tag current_user.avatar.preview(resize_to_limit: [32, 32]) %>

			<% else %>

				<%= image_tag("/assets/man100px.png") %>


			<% end %>



		</div>
			
			
			<% if user_signed_in? %>
				
				<div class="my_name_overlay"> <%=current_user.first_name %> <%=current_user.last_name%></div>

			<% else %>
				
				<div class="my_name_overlay"> ...log in</div>

				
			<% end %>
					
			
			

			
			<div class="my_message_overlay">
				<%= text_field_tag 'message_overlay', nil, placeholder: 'Say something...', class: 'line-animation' %>

				<div class="line"></div>
				
			</div>

			
			
				
					
			
			
			

			<div class="stats_overlay">


				
				<span>
					<em class="jQTAreaCount"></em> / <em class="jQTAreaValue"></em>
				</span>
					
					
				  <!--<p class="jQTAreaExt"></p> -->
				


			</div>


			<div class="send_button_overlay">


				<%= image_submit_tag("send.png", alt: 'Send') %>
			</div>



	</div>


    
    


</section>

	

	<section id="chat_section">

		
		<div id="info_section">
		
			
			
			
			<div class="Chat">Chat<span class="arrow">&#9660;</span></div>

			<div class="menu"><%= render :partial => 'threedots' %></div>


		</div>


		
		<div id="chat_window">

        	
            	

        	
            	
        	

        	
            	

        	
            	

        	
            	
        	

        	
            	
        	
    		

        	
            	
        	
    		

    		
        	
		

    	
    		

    		
        	
		

    		
        	
		

        	
            	
        	
    		

        	
            	
        	
    		

    		
        	
		

    	
    		

    		
        	<div class="chat_img">
        		<img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBJUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6ee0352585bfb0b874e4ca0ff303ec2f01327c76/letters.jpg">
        	</div>

        	<div class="chat_name">John Doh</div>

        	<div class="chat_msg">sdsdsd</div>


        	<div class="chat_img">
        		<img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBJUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6ee0352585bfb0b874e4ca0ff303ec2f01327c76/letters.jpg">
        	</div>

        	<div class="chat_name">sdfsd Doh</div>

        	<div class="chat_msg">444444dfdfgdfgdfgdfgdfgdfdfdfdfvdfvdfvdfvfvfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdfgdfg4444sdsdsd</div>
		

    		
        	
		<div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">ffff</div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">dfgdfg</div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">dfgdfgdfg</div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg"></div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">dfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfg</div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">sdfgsdfgsdfgsdfgsdfgsdfgsdfg   sdfgsdfgsdfg sdfgsdfg   sdfgsdfgsfg fgsdfgsdf dfgsdfsdfgdsfgsdfsdfgs </div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">dfgsdfsdfdfbsfgb</div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">sdfgsdfgsdfgsgsg</div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">ffffff</div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">dfgdfgdf</div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">dfdfggg</div><div class="chat_img"><img src=""></div><div class="chat_name">Alejandro Raffo</div><div class="chat_msg">fdfgdfgdfgdfgdgd</div>

    		
        	
		</div>
	    	
    	<div id="msg">


    		<div class="my_avatar chat_img">

    			<% if user_signed_in? && current_user.avatar.attached? && current_user.avatar.variable? %>
					
					<%= image_tag current_user.avatar.variant(resize_to_limit: [32, 32]) %>
                

  				<% elsif user_signed_in? && current_user.avatar.attached? && current_user.avatar.previewable? %>

    
					<%= image_tag current_user.avatar.preview(resize_to_limit: [32, 32]) %>

				<% else %>

    				<%= image_tag("/assets/man100px.png") %>


  				<% end %>



    		</div>
			
			
			<% if user_signed_in? %>
				<div class="my_name"> <%=current_user.first_name %> <%=current_user.last_name%></div>

			<% else %>
				<div class="my_name"> ...log in</div>

				
			<% end %>
					
			
			

			
			<div class="my_message">
				<%= text_field_tag 'message', nil, placeholder: 'Say something...', class: 'line-animation' %>

				<div class="line"></div>
				
			</div>

			
			
				
					
			
			
			

			<div class="stats">


				
				<span>
					<em class="jQTAreaCount"></em> / <em class="jQTAreaValue"></em>
				</span>
					
					
				  <!--<p class="jQTAreaExt"></p> -->
				


			</div>


			<div class="send_button">


				<%= image_submit_tag("send.png", alt: 'Send') %>
			</div>



			 
		</div>





	</section>





	











