<main>
	<section id="video_section">
		
	







	</section>

	<section id="info_section">
		
	







	</section>

	<section id="chat_section">
		
	







	</section>

	<footer>
		
	</footer>
</main>






<% if current_user.try(:admin?) %>

	<table>
	    <% @users.each do |user| %>
	      <tr>
	        
	        <% if user.approved != true %>

	        	<td>

	        		<% if user.avatar.attached? %>

  						
	        			
  						<%= image_tag user.avatar.variant(resize_to_limit: [30, 30]) %>
  						

					<% else %>

						<%= image_tag("/assets/man100px.png", height: '32', width: '32') %>


					<% end %>


        		</td>
				
				<td><%= user.uid %></td>
				<td><%= user.first_name %></td>
	        	<td><%= user.last_name %></td>
				<td><%= link_to "click to approve User", judge_path(:id => user.id, :approved => true), :method => :patch %></td>
			<% else %>


				<td>

	        		<% if user.avatar.attached? %>

  						

  						<%= image_tag user.avatar.variant(resize_to_limit: [32, 32]) %>


					<% else %>

						<%= image_tag("/assets/man100px.png", height: '32', width: '32') %>


					<% end %>




        		</td>

				<td><%= user.uid %></td>
				<td><%= user.first_name %></td>
	        	<td><%= user.last_name %></td>
				
				<td><%= link_to "click to ban", judge_path(:id => user.id, :approved => false), :method => :patch %></td>
	        <% end %>
	      
	      </tr>
	    <% end %>
	</table>

	Total Users = <%= @users.count %>
<% end %>

