
<section class="video_section">
	
	<div class="bar">


		<input class="expand_menu_checkbox_overlay" type="checkbox" id="expand_menu_checkbox_overlay" />

		
		<label class="hamburger_menu_label_overlay" for="expand_menu_checkbox_overlay" >
			<span class="hamburger_menu_overlay"></span>
			
		</label>


		<input class="expand_menu_checkbox_overlay_clone" type="checkbox" id="expand_menu_checkbox_overlay_clone" />

		<ul class="menu_overlay">



		<% if @showDeleteSessionInsteadOfStartPublishing == "true" && user_signed_in? && @isAdmin == "true"%>

			<li>
				<a href="/general/deleteSessionsV2" class="btnV2">Reset</a>
					
			</li>
			<li>

				<a href="#" class="toggle_chat btnV2">toggle chat</a>
			</li>

		<% elsif @showDeleteSessionInsteadOfStartPublishing == "false"  && user_signed_in? && @isAdmin == "true"%>

			
			<li>
				<a href="#" class="publisherStart btnV2">Start Publishing</a>
			</li>
			<li>
				<a href="#" class="toggle_chat btnV2">toggle chat</a>
			</li>
			
		<% elsif user_signed_in? %>

			<li>
				<a href="/" class="try2Connect" class="btnV2">Connect</a>
			</li>
			<li>
				
				<a href="#" class="toggle_chat btnV2">toggle chat</a>
			</li>
			
		<%end%>

		<li>
				
			<a href="#" class="toggle_chat btnV2">toggle chat</a>
		</li>

		
	</ul>



	</div>
	
	<div id="videos">

		
        <div id="subscriber"></div>
        
    </div>

    <div id="overlay">

    	

	</div>


    <div id="talk">

    	<div class="my_avatar_overlay chat_img">

			<% if user_signed_in? && current_user.avatar.attached? && current_user.avatar.variable? %>
				
				<%= image_tag current_user.avatar.variant(resize_to_limit: [32, 32]) %>
	        

			<% elsif user_signed_in? && current_user.avatar.attached? && current_user.avatar.previewable? %>


				<%= image_tag current_user.avatar.preview(resize_to_limit: [32, 32]) %>

			<% else %>

				<%= image_tag("/assets/man100px.png") %>


			<% end %>



		</div>
			
			
			<% if user_signed_in? %>
				
				<div class="my_name_overlay"> <%=current_user.first_name %> <%=current_user.last_name%></div>

			<% else %>
				
				<div class="my_name_overlay"> ...log in</div>

				
			<% end %>
					
			
			

			
			<div class="my_message_overlay">
				<%= text_field_tag 'message_overlay', nil, placeholder: 'Say something...', class: 'line-animation' %>

				<div class="line"></div>
				
			</div>

			
			
				
					
			
			
			

			<div class="stats_overlay">


				
				<span>
					<em class="jQTAreaCount"></em> / <em class="jQTAreaValue"></em>
				</span>
					
					
				  <!--<p class="jQTAreaExt"></p> -->
				


			</div>


			<div class="send_button_overlay">


				<%= image_submit_tag("send.png", alt: 'Send') %>
			</div>



	</div>


    
    


</section>

	
<!--######################### ENTIRE CHAT SECTION ########-->
<section id="chat_section">

	

	<!--######################### INFO SECTION START########-->
	<div id="info_section">
	
		<div class="Chat">Chat<span class="arrow">&#9660;</span></div>

		<input class="hamburger_to_x_checkbox" type="checkbox" id="hamburger_to_x_checkbox" />

		<label class="hamburger_menu_label" for="expand_menu_checkbox" >
			<span class="hamburger_menu"></span>
			
		</label>

		<input class="expand_menu_checkbox" type="checkbox" id="expand_menu_checkbox" />
		<ul class="menu">



			<% if @showDeleteSessionInsteadOfStartPublishing == "true" && user_signed_in? && @isAdmin == "true"%>

				<li>
					<a href="/general/deleteSessionsV2", class="btnV2">Reset</a>
						
				</li>
				<li>

					<a href="#" class="toggle_chat btnV2">toggle chat</a>
				</li>

			<% elsif @showDeleteSessionInsteadOfStartPublishing == "false"  && user_signed_in? && @isAdmin == "true"%>

				
				<li>
					<a href="#" class="publisherStart" class="btnV2">Start Publishing</a>
				</li>
				<li>
					<a href="#" class="toggle_chat btnV2">toggle chat</a>
				</li>
				
			<% elsif user_signed_in? %>

				<li>
					<a href="/" class="try2Connect" class="btnV2">Connect</a>
				</li>
				<li>
					
					<a href="#" class="toggle_chat btnV2">toggle chat</a>
				</li>
				
			<%end%>

			<li>

					<a href="#" class="toggle_chat btnV2">toggle chat</a>
			</li>

		
	</ul>

	</div>
	<!--######################### INFO SECTION END########-->
	

	
	
	

	

	


	<!--######################### CHAT WInDOW ########-->
	<div id="chat_window">



    	
        

		
    	
	</div>
    	
	


	<!-- ######################### MSG SECTION ######## -->
	<div id="msg">


		<div class="my_avatar chat_img">

			<% if user_signed_in? && current_user.avatar.attached? && current_user.avatar.variable? %>
				
				<%= image_tag current_user.avatar.variant(resize_to_limit: [32, 32]) %>
            

				<% elsif user_signed_in? && current_user.avatar.attached? && current_user.avatar.previewable? %>


				<%= image_tag current_user.avatar.preview(resize_to_limit: [32, 32]) %>

			<% else %>

				<%= image_tag("/assets/man100px.png") %>


				<% end %>



		</div>
		
		
		<% if user_signed_in? %>
			<div class="my_name"> <%=current_user.first_name %> <%=current_user.last_name%></div>

		<% else %>
			<div class="my_name"> ...log in</div>

			
		<% end %>
				
		
		

		
		<div class="my_message">
			<%= text_field_tag 'message', nil, placeholder: 'Say something...', class: 'line-animation' %>

			<div class="line"></div>
			
		</div>

		
		
			
				
		
		
		

		<div class="stats">


			
			<span>
				<em class="jQTAreaCount"></em> / <em class="jQTAreaValue"></em>
			</span>
				
				
			  <!--<p class="jQTAreaExt"></p> -->
			


		</div>


		<div class="send_button">


			<%= image_submit_tag("send.png", alt: 'Send') %>
		</div>



		 
	</div>





</section>








	











