
	<section id="video_section">
		
		<div class="bar">T</div>
		<div id="videos">
	        <div id="subscriber"></div>
	        
	    </div>





	    
	    


	</section>

	

	<section id="chat_section">

		
		<div id="info_section">
		
			<% if @showDeleteSessionInsteadOfStartPublishing == "true" && user_signed_in? && @isAdmin == "true"%>

				<%= link_to delete_all_sessionsV2_path do %>
					<div id="deleteSession"> Delete Session</div>
				<% end %><% elsif @showDeleteSessionInsteadOfStartPublishing == "false"  && user_signed_in? && @isAdmin == "true"%>
				
				<div id="publisherStart">Start Publishing</div>
			
			<% else %>
				
				<div id="try2Connect">Connect</div>
			
			<%end%>

			<span class="toggle_chat">toggle chat</span>


			<div class="Chat">Chat<span class="arrow">&#9660;</span></div>


			<div class="menu"><%= render :partial => 'threedots' %></div>


		</div>


		
		<div id="chat_window">

        	
            	

        	
            	
        	

        	
            	
        	
    		

        	
            	
        	
    		

    		
        	
		

    	
    		

    		
        	
		

    		
        	
		

        	
            	
        	
    		

        	
            	
        	
    		

    		
        	
		

    	
    		

    		
        	<div class="chat_img">
        		<img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBJUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6ee0352585bfb0b874e4ca0ff303ec2f01327c76/letters.jpg">
        	</div>

        	<div class="chat_name">John Doh</div>

        	<div class="chat_msg">sdsdsd</div>


        	<div class="chat_img">
        		<img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBJUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6ee0352585bfb0b874e4ca0ff303ec2f01327c76/letters.jpg">
        	</div>

        	<div class="chat_name">sdfsd Doh</div>

        	<div class="chat_msg">444444dfdfgdfgdfgdfgdfgdfdfdfdfvdfvdfvdfvfvfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdfgdfg4444sdsdsd</div>
		

    		
        	
		</div>
	    	
    	<div id="msg">


    		<div class="my_avatar chat_img">

    			<% if user_signed_in? && current_user.avatar.attached? && current_user.avatar.variable? %>
					
					<%= image_tag current_user.avatar.variant(resize_to_limit: [32, 32]) %>
                

  				<% elsif user_signed_in? && current_user.avatar.attached? && current_user.avatar.previewable? %>

    
					<%= image_tag current_user.avatar.preview(resize_to_limit: [32, 32]) %>

				<% else %>

    				<%= image_tag("/assets/man100px.png") %>


  				<% end %>



    		</div>
			
			
			<% if user_signed_in? %>
				<div class="my_name"> <%=current_user.first_name %> <%=current_user.last_name%></div>

			<% else %>
				<div class="my_name"> ...log in</div>

				
			<% end %>
					
			
			

			
			<div class="my_message">
				<%= text_field_tag 'message', nil, placeholder: 'Say something...', class: 'line-animation' %>

				<div class="line"></div>
				
			</div>

			
			
				
					
			
			
			

			<div class="stats">


				
				<span>
					<em class="jQTAreaCount"></em> / <em class="jQTAreaValue"></em>
				</span>
					
					
				  <!--<p class="jQTAreaExt"></p> -->
				


			</div>


			<div class="send_button">


				<%= image_submit_tag("send.png", alt: 'Send') %>
			</div>



			 
		</div>





	</section>





	











