<!DOCTYPE html>
<html>
  <head>
    <title>Cwa3122</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag 'application'%>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script>


      var ip = "<%= @ipAddress %>";
      var token = "<%= @token %>";
      var api_key = "<%= @api_key %>"
      var session_id = "<%= @session_id %>"

      var goodToGo = "<%= @goodToGo %>"

      var isAdmin = "<%= @isAdmin %>"

      var showDeleteSessionInsteadOfStartPublishing = "<%= @showDeleteSessionInsteadOfStartPublishing %>"

    </script>
    
    <script type="text/javascript">
    
      
      $(document).ready(function(){
      
        var preview = $(".upload-preview img");

        $(".file").change(function(event){
           
           var input = $(event.currentTarget);
           var file = input[0].files[0];
           var reader = new FileReader();
           reader.onload = function(e){
               image_base64 = e.target.result;
               
               preview.attr("src", image_base64);
           };
           reader.readAsDataURL(file);
        });
      });

    </script>

    
  </head>

  <body>

    

      <% if @title == "admin_page" %>

        <div class="admin_wrapper">

      <% elsif @title == "devise_page" %>

        <div class="devise_wrapper">

      <% else %>

        <div class="default_wrapper">
        
      <% end %>




   

    

      <header>

        

        <%= render partial: '/general/navbar' %>
        
        
              
      </header>

      <% flash.each do |name, msg| %>
        <div class = 'alert-<%=name%>'>
          <%= msg %>
        </div>


      <% end %>

    <%= yield %>

    </div>

  </body>
</html>
