<!DOCTYPE html>
<html>
  <head>
    <title>Cwa3122</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>

    <header>

      

      <%= render partial: '/general/navbar' %>
      
      
            
    </header>

    <% flash.each do |name, msg| %>
      <div class = 'alert-<%=name%>'>
        <%= msg %>
      </div>


    <% end %>

    <%= yield %>

  </body>
</html>
